body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7fb;
}

/* HEADER */
header {
    background: #0b3c5d;
    color: white;
    padding: 20px;
    text-align: center;
}

/* NAV */
nav {
    background: #328cc1;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(to right, #0b3c5d, #328cc1);
    color: white;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    background: #ffffff;
    color: #0b3c5d;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* CARDS */
.card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* FOOTER */
footer {
    background: #0b3c5d;
    color: white;
    text-align: center;
    padding: 15px;
}
